<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.product.mapper.TwoclassifyMapper">
  <resultMap id="TwoResultMap" type="com.ys.product.domain.entity.Twoclassify">
    <!--@mbg.generated-->
    <id column="w_id" jdbcType="INTEGER" property="wId" />
    <result column="w_title" jdbcType="VARCHAR" property="wTitle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="o_id" jdbcType="INTEGER" property="oId" />
  </resultMap>

  <resultMap id="TwoResultMap1" type="com.ys.product.domain.vo.TwoclassifyVo" extends="TwoResultMap">
    <collection property="products" resultMap="com.ys.product.mapper.ProductMapper.ProductResultMap">

    </collection>
  </resultMap>
</mapper>